body {
	background-color: #3d3d3d;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	min-width: 1300px;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*****************************************************************/
/*                                                    TOP BANNER */
/*****************************************************************/

.top-menu {
	background-image: linear-gradient(to top, #9e9e9e, #a7a7a7);
	margin: 0;
	padding: 10px;
	height: 60px;
	vertical-align: middle;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.transport-control {
	margin-right: 20px;
	padding-top: 9px;
	/* border: 1px solid white; */
}

#playBtn,
#stopBtn,
#loopBtn,
#clearAllBtn,
#swing-label,
#swing-selector,
#infoBtn {
	height: 40px;
	width: 50px;
	background-image: linear-gradient(to top, rgb(216, 212, 212), rgb(238, 238, 238));
	border: 1px solid rgb(131, 131, 131);
	outline: none;
}

#swing-label {
	border-radius: 5px 0 0 5px;
	text-align: center;
	width: 60px;
}

#swing-label.active {
	background-image: linear-gradient(to top, rgb(141, 102, 58), rgb(236, 158, 68));
	border: 1px solid rgb(131, 131, 131);
}
#swing-selector {
	border-radius: 0 5px 5px 0;
	margin-left: -7px;
	margin-right: 10px;
	width: 60px;
	text-align-last: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#playBtn {
	border-radius: 5px 0 0 5px;
	margin-right: -7px;
}

#loopBtn {
	border-radius: 0 5px 5px 0;
	margin-left: -7px;
}

#playBtn.active {
	background-image: linear-gradient(to top, rgb(43, 102, 52), rgb(130, 214, 143));
	border: 1px solid rgb(131, 131, 131);
}

#stopBtn.active {
	background-image: linear-gradient(to top, rgb(102, 44, 44), rgb(214, 130, 130));
	border: 1px solid rgb(131, 131, 131);
}

#loopBtn.active {
	background-image: linear-gradient(to top, rgb(128, 123, 55), rgb(233, 223, 131));
	border: 1px solid rgb(131, 131, 131);
}

.header-info {
	width: 600px;
	height: 60px;
	border-radius: 3px;
	background-color: rgb(27, 30, 40);
	color: rgb(176, 202, 226);
}

.beat-counter {
	display: inline-block;
	width: 100px;
	line-height: 60px;
	font-size: 18px;
	/* border: 1px solid white; */
	border-right: 1px solid rgb(56, 73, 95);
	vertical-align: top;
	text-align: left;
	padding-left: 15px;
	padding-right: 6px;
}

.top-menu-header {
	display: inline-block;
	width: 200px;
	line-height: 22px;
	font-size: 1.6em;
	font-weight: 300;
	margin: 0;
	padding: 0px 0 10px 0;
	border-right: 1px solid rgb(56, 73, 95);
	/* border: 1px solid white; */
	vertical-align: top;
	text-align: center;
}

.top-menu-header span {
	font-size: 16px;
}

.division-container {
	display: inline-block;
	width: 100px;
	height: 60px;
	border-right: 1px solid rgb(56, 73, 95);
	/* border: 1px solid white; */
	vertical-align: top;
}

.division-container h3 {
	text-align: center;
	font-size: 0.8em;
	font-weight: 300;
	margin: 10px 0 0 0;
}

.division-container select {
	margin: 0 0 0 22px;
	width: 55px;
	height: 30px;
	background-color: rgb(27, 30, 40);
	color: rgb(176, 202, 226);
	border: none;
}

.tempo-container {
	display: inline-block;
	width: 150px;
	height: 60px;
	border-right: 1px solid rgb(56, 73, 95);
	/* border: 1px solid white; */
	vertical-align: top;
}

.tempo-counter {
	text-align: left;
	margin-top: 7px;
	margin-left: 21px;
	margin-bottom: 5px;
}

.tempo-slider {
	-webkit-appearance: none;
	appearance: none;
	margin-left: 28px;
	width: 100px;
	height: 8px;
	background-color: rgb(56, 73, 95);
	border-radius: 5px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.tempo-slider:hover {
	opacity: 1;
	background-color: rgb(62, 100, 136);
}

.tempo-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgba(211, 214, 218, 0.699);
	cursor: pointer;
}

.tempo-slider::-mox-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgba(211, 214, 218, 0.699);
	cursor: pointer;
}

.preset-container {
	margin-left: 20px;
	padding-top: 9px;
	/* border: 1px solid white; */
}

.preset-selector {
	width: 135px;
	height: 40px;
	background-image: linear-gradient(to top, rgb(216, 212, 212), rgb(238, 238, 238));
	border-radius: 5px;
	padding-left: 5px;
	outline: none;
}

#clearAllBtn {
	border-radius: 5px 0 0 5px;
	margin-right: -7px;
	margin-left: 10px;
}

#infoBtn {
	border-radius: 0 5px 5px 0;
	margin-right: -7px;
}

#clearAllBtn.active {
	background-image: linear-gradient(to top, rgb(102, 44, 44), rgb(214, 130, 130));
	border: 1px solid rgb(131, 131, 131);
}

#infoBtn.active {
	background-image: linear-gradient(to top, rgb(63, 101, 151), rgb(150, 160, 250));
	border: 1px solid rgb(131, 131, 131);
}

/*****************************************************************/
/*                                                     MAIN GRID */
/*****************************************************************/

.instRow {
	text-align: left;
	height: 40px;
}

.main-window {
	width: 1210px;
	background-color: rgb(46, 46, 46);
	margin: 40px auto 0 auto;
	padding: 0 20px 20px 20px;
	color: rgb(118, 118, 118);
	border-radius: 3px;
}

.grid-headers {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid rgb(72, 72, 72);
	margin-bottom: 12px;
}

.grid-headers h4 {
	display: inline-block;
	margin-bottom: 6px;
	font-weight: 300;
}

.grid-headers h4:nth-child(1) {
	width: 95px;
}

.grid-headers h4:nth-child(2) {
	width: 184px;
}

.grid-headers h4:nth-child(3) {
	width: 25px;
}

.grid-headers h4:nth-child(4) {
	width: 60px;
}

.divider {
	display: inline;
	padding-bottom: 290px;
	margin-left: 10px;
	margin-right: 20px;
	border-right: 1px solid rgb(72, 72, 72);
	width: 0px;
}

.instr-title {
	display: inline-block;
	width: 100px;
	text-align: left;
	color: white;
}

.controls-container {
	display: inline-block;
	margin-right: 15px;
}

.mute-button,
.solo-button {
	height: 23px;
	width: 25px;
	background-image: linear-gradient(to top, rgb(83, 83, 83), rgb(90, 90, 90));
	border: 1px solid rgb(50, 50, 50);
	outline: none;
	color: #fff;
}

.mute-button {
	border-radius: 3px 0 0 3px;
}

.solo-button {
	border-radius: 0 3px 3px 0;
}

.mute-button.active {
	background-image: linear-gradient(to top, rgb(35, 127, 133), rgb(42, 160, 168));
	border: 1px solid rgb(23, 80, 85);
}

.solo-button.active {
	background-image: linear-gradient(to top, rgb(157, 129, 9), rgb(175, 145, 10));
	border: 1px solid rgb(102, 83, 6);
}

.grid-btn,
.grid-btn-all {
	display: inline-block;
	border: 1px solid black;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 3px;
	background-image: linear-gradient(to top, rgb(131, 131, 131), rgb(82, 82, 82));
	vertical-align: middle;
}

.grid-select-all {
	margin-right: 30px;
}

.grid-btn-selected {
	background-image: linear-gradient(to top, rgb(73, 126, 68), rgb(105, 240, 127));
}

/*****************************************************************/
/*                                                 VOLUME SLIDER */
/*****************************************************************/

.vol-container {
	display: inline-block;
	height: 20px;
	padding-right: 10px;
}

.volume-slider {
	-webkit-appearance: none;
	appearance: none;
	vertical-align: middle;
	width: 100px;
	height: 10px;
	background-color: rgb(56, 73, 95);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 5px;
}

.volume-slider:hover {
	opacity: 1;
	background-color: rgb(62, 100, 136);
}

.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgba(211, 214, 218, 0.699);
	cursor: pointer;
}

.volume-slider::-mox-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(56, 73, 95);
	cursor: pointer;
}

/*****************************************************************/
/*                                                  INFO POPOVER */
/*****************************************************************/

#infoPopover {
	visibility: hidden;
	position: absolute;
	margin-left: 100px;
	top: 70px;
	width: 250px;
	/* height: 600px; */
	background-image: linear-gradient(to bottom, rgb(173, 172, 172), rgb(255, 255, 255));
	border: 1px solid rgb(71, 71, 71);
}

.inner-popover {
	background-image: linear-gradient(to top, rgb(179, 178, 178), rgb(255, 255, 255));
	width: 220px;
	margin: 5px;
	/* height: 466px; */
	border: 1px solid rgb(48, 48, 48);
	padding: 10px;
}

.inner-popover p {
	text-align: center;
	word-wrap: break-word;
	color: black;
	font-weight: 800;
}
